<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem-vindo!</h1>
    <p>Use os links abaixo para testar as páginas de erro:</p>
    <ul>
        <li><a href="/area-restrita">Testa Erro 401 (Não autorizado)</a></li>
        <li><a href="/painel-admin">Testar Erro 403 (Acesso proibido)</a></li>
        <li><a href="/pagina-que-nao-existe">Testar Erro 404 (Não encontrado)</a></li>
    </ul>
</body>
</html>