<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }}</li>
        {% endfor %}
    </ul>

    <nav>
        <ul class="pagination">
            {% for page_num in range(1,total_pages +1) %}
                <li class="page-item" {% if page == page_num %}active{% endif %}>
                    <a href="{{ url_for('listar_produtos_paginados', page=page_num) }}" class="page-link">
                        {{ page_num }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</body>
</html>