{% extends 'base.html' %}
{% block conteudo %}
<h2>Nossas Acomodações</h2>
<p>Escolha o quarto ideal para sua estadia:</p>

<div class="quartos-container">
    {% for quarto in todos_quartos %}
    <div class="quarto-card">
        <img src="{{ quarto.imagem }}" alt="{{ quarto.nome }}">
        <h3>{{ quarto[1] }}</h3>
        <p>{{ quarto[3] }}</p>
        <p><strong>R$ {{ quarto[2] }}</strong> / noite</p>
        <a href="{{ url_for('quarto', id=quarto.id) }}">Ver detalhes</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
